@page "/"

<header>
    <nav>
        <a href="https://github.com/kasuken/placify">
            <h2>Placify</h2>
        </a>
        <ul>
            <li>Home</li>
            <li>
                <a href="https://github.com/kasuken/placify" target="_blank">Docs</a>
            </li>
            <li>
                <a href="https://github.com/kasuken/placify" target="_blank">GitHub &nearr;</a>
            </li>
        </ul>
    </nav>
    <h1>
        Yet another <u>image placeholder</u> for your next projects
    </h1>
    <p>
        Free forever without any usage limits
    </p>
    <br /><br />
    <p>
        <sup>Quick setup</sup> Add this code to your HTML file:<br /><br />
        <code>
            &lt;img src=&quot;https://www.placify.xyz/api/draw/400/100&quot;
        </code>
        <br />
        <br />
        This is the result
        <br />
        <img src="https://www.placify.xyz/api/draw/400/100"
    </p>
</header>
<main>
    <hr />
    <section id="testimonials">
        <blockquote>
            <img alt="Quote"
                 src="https://images.unsplash.com/photo-1558630926-dd2956629b42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                 height="80" /><br />
            "Simplicity is a difficult thing to achieve."
            <footer><br /><i>- Charlie Chaplin</i></footer>
        </blockquote>
    </section>
    <hr />
    <div id="figure">
        <header>
            <h2>Some Examples</h2>
        </header>
        <figure>
            <img src="https://www.placify.xyz/api/draw/1200/450" />
        </figure>
        <figure>
            <img src="https://www.placify.xyz/api/draw/1920/768" />
        </figure>
        <figure>
            <img src="https://www.placify.xyz/api/draw/1024/500" />
        </figure>
    </div>
</main>
<footer>
    <p>
        Made by
        <a href="https://www.emanuelebartolesi.com" target="_blank">Emanuele Bartolesi &nearr;</a><br />
    </p>
</footer>